NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_BW_PRICE_PER_PAGE=0.05
NEXT_PUBLIC_COLOUR_SURCHARGE=0.10
NEXT_PUBLIC_CURRENCY=GBP
NEXT_PUBLIC_SITE_URL=http://localhost:3000
